<%= form_for(@offer, :html => { :class=>'form' }) do |f| %>

<% if @offer.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

  <ul>
    <% @offer.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="group">
  <%= f.label 'Se', :class=> 'label' %>
  <%= f.select :offer_type, Offer.offer_types.map {|t| t.humanize} %>
</div>

<div class="group">
  <%= f.label 'Nombre', :class=> 'label' %>
  <%= f.text_field :title, :class=> 'text_field' %>
</div>
<div class="group">
  <%= f.label 'Descripcion', :class=> 'label' %>
  <%= f.text_area :description, :class => 'markitup text_area', :rows=>'10',:cols=>'80' %>
</div>

<div class="group price">
  <%= f.label 'Cantidad', :class=> 'label' %>
  <%= f.text_field :price, :class=> 'text_field' %>
  <%= f.select :pricing_type, Offer.pricing_types.map {|t| t.humanize} %>
</div>
<div class="group">
</div>

<div class="group">
  <%= f.label 'Desde', :class=> 'label' %>
  <%= f.text_field :starts_at, :class=> 'datepicker' %>
</div>
<div class="group">
  <%= f.label 'Hasta', :class=> 'label' %>
  <%= f.text_field :ends_at, :class=> 'datepicker' %>
</div>


<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_submit_tag 'web-app-theme/icons/tick.png' %> Guardar
  </button>
  <a href="#header" class="button">
    <%= image_submit_tag 'web-app-theme/icons/cross.png' %> Cancelar
  </a>
</div>
<% end %>
