<h1>Listado de ofertas</h1>

<div class="offers">
</div>

<div class="block" id="block-lists">
  <div class="content">
    <h2 class="title">Ofertas</h2>
    <div class="inner">
      <ul class="list offers">
        <% @offers.each do |offer| %>
          <li>
            <div class="left">
              <a href="#"><img class="avatar" src="images/avatar.png" alt="avatar"></a>
              <div class="price"><%= pluralize offer.price, offer.pricing_type %> </div>
            </div>
            <div class="item">
              <div class="edit"><%= link_to '(Editar)', edit_offer_path(offer) %></div>
              <h3><%= link_to offer.title, offer %> </h3>
              <p><%= markdown offer.description %></p>
            </div>
          </li>
        <% end %>
        <div class="clear"></div>
      </ul>
    </div>
  </div>
</div>

<br />

<%= link_to 'Nueva Oferta', new_offer_path %>
