<p id="notice"><%= notice %></p>

<h1> Se <%= @offer.offer_type %>: <%= link_to @offer.title, edit_offer_path(@offer) %> </h1>

<div class="flash">
  <div class="message error">
    <p> <%= pluralize @offer.price, @offer.pricing_type %> </p>
  </div>
</div>


<p> <%= markdown @offer.description %> </p>


