<p id="notice"><%= notice %></p>

<h1>
  <%= @offer.title %>
</h1>

<p>
  <%= @offer.description %>
</p>

<p>
  <b>Price:</b>
  <%= pluralize @offer.price, @offer.pricing_type %>
</p>

<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
