<p id="notice"><%= notice %></p>

<h1> <%= @offer.title %> </h1>

<div class="flash">
  <div class="message notice">
    <p> <%= pluralize @offer.price, @offer.pricing_type %> </p>
  </div>
</div>


<p> <%= markdown @offer.description %> </p>


<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
